/*@import "./base.css";*/

body {
  width: 100vw;
  height: 100vw;
  background-image: url('https://images.8tracks.com/imgix/i/008/804/654/tumblr_mh1pgyyw4A1rs5zpqo1_500-162.gif?rect=0,0,500,500&q=65&fit=max');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}
